.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin-top: 5rem;
}

/*Agregamos al contenido flex y space between 
para que coloque la nav a la izquierda y el parrafo a la derecha*/
@media (min-width:768px) {
    .contenido { 
        display: flex;
        justify-content: space-between;
    }
}

.navegacion {
    display: flex;
    flex-direction: column; /*coloca navegacion en columna*/
    align-items: center; /*centramos el nav*/
    gap: 2rem; /*Separamos el contenido*/
}

@media (min-width:768px) {
    .navegacion { 
        display: flex;
        flex-direction: row; /*En pantallas grandes colocamos nav en fila*/
    }
}

.navegacion a,
.copyright {
    color: var(--white);
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 700;
}

.copyright {
    text-align: center;
}